body {
    background: linear-gradient(0deg, rgba(7,149,150,1) 6%, rgba(77,90,156,1) 100%); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: ivory;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0; 
}

.form {
    margin-left: 200px;
    margin-right: 200px;
}
.titulo {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;

}
    
.field01 {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn {
    margin-top: 20px;
    width: 60px;
    height: 40px;
}

input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}

#idTextArea {
    border-radius: 10px;
    padding: 10px;
}

#idTel {
    margin-left: 25px;
}